<div class="card-body", id="tarjeta">
  <p>
    <strong>Title:</strong>
    <%= @user.email %>
  </p>


  <p>
    <strong>Description:</strong>
    <%= @user.email %>
  </p>
  <br/><br/>
 
  &nbsp;&nbsp;
  <%= link_to 'Back', notes_path , class:"btn btn-secondary"%>
</div>
