<div class="card-body", id="note_container">
  <div class="card-body", id="show-card">
    <p>
      <strong>User:</strong>
      <%= @user.name %>
    </p>


    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <br/><br/>
  
    &nbsp;&nbsp;
    <%= link_to 'Back', notes_path , class:"btn btn-secondary"%>
  </div>
</div>
